* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#btnDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btnMe {
  width: 100px;
  height: 100px;
  background-color: rgb(100, 100, 255);
  margin: 10px;
}

#meBtn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 100, 255);
}

.btn {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgb(100, 100, 255);
}

.btnDivPart {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.editBtn {
  position: absolute;
  top: 0;
  z-index: 999;
  border: 1px solid #222;
}
